@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body{
	background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
div {
  position:relative;
  z-index: 2;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.title{
	font-size: 25px;
	text-align: center;
	margin: 80px 20px 10px 20px;
	color:#fff;
}

#div2{
	border-radius: 5px;
	margin:8% auto auto auto;
	padding:40px 50px;
	background-color: #fff;
	position:relative;
  width:450px;
  display:table;

}
#div3{
	float: left;
	height: 100%;

}
.author{
	width:450px;
  height:auto;
  clear:both;
  padding-top:20px;
  font-size:1em; 
  text-align:right;

}
.quotes{
	text-align:center;
  width:450px;
  height:auto;
  clear:both;
  font-weight:500;
  font-size:1.75em;
}
#buttons {
    width:450px;
    margin:auto;
    display:block;
  }
#tweet-quote{
  height:38px;
  float:left;
  border:none;
  border-radius:3px;
  color:#fff;
  background-color:#333;
  outline:none;
  font-size:1.8em;
  padding: 3px 18px 6px 18px;
  margin-top:30px;
  opacity:1;
  cursor:pointer;
  &:hover {
    opacity:0.9;
  }
}
#post-fb{
  height:38px;
  float:left;
  border:none;
  border-radius:3px;
  color:#fff;
  background-color:#333;
  outline:none;
  font-size:1.8em;
  padding: 3px 18px 6px 18px;
  margin-top:30px;
  opacity:1;
  cursor:pointer;
  &:hover {
    opacity:0.9;
  }
}
#btn1{
	height:38px;
  float:right;
  border:none;
  border-radius:3px;
  color:#fff;
  background-color:#333;
  outline:none;
  font-size:0.85em;
  padding: 8px 18px 6px 18px;
  margin-top:30px;
  opacity:1;
  cursor:pointer;
  &:hover {
    opacity:0.9;
  }
}
.footer{
	font-size: 12px;
	color : #fff;
	text-align:center;
  display:block;
  margin:15px auto 30px auto;
}